@model IEnumerable<SklepPapierniczy.Models.ClientDelivery>

@{
    ViewData["Title"] = "Deliveries Raport";
}

<h1>Delivery Raport</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>@Html.DisplayText("Name")</th>
                    <th>@Html.DisplayText("Price")</th>
                    <th>@Html.DisplayText("Quantity")</th>
                    <th>@Html.DisplayText("Article total")</th>
                </tr>
                @foreach (var article in item.Articles)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@article.Article.Name</td>
                        <td>@article.Article.Price</td>
                        <td>@article.Quantity</td>
                        <td>@(article.Article.Price * article.Quantity)</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>